$font-stack: Helvetica, sans-serif;

$word-black-color: #4d4d4d;
$word-grey-color: #9a9a9a;
$grey: #9a9a9a;
$word-shallow-color: #aeaeae;
$word-border-color: #d0d0d0;
$word-back-color: #e7e7e7;

$deep-color: #003486;
$title-color: #065fed;
$main-blue: #547bf1; //button-color
$back-color: #368eec;
$blue-back: #e3e9fd;

$main-purple: #6c54f1;
$purple: #a372df;
$purple-back: #f2f2ff;

$main-yellow: #ef943f;
$yellow: #e6a23c;
$yellow-shallow: #f5eee7;

$main-green: #7ab25f;
$green-word: #3d801b;
$green: #7dc15b;
$green-back: #effceb;

$red-word: #f73e3e;
$red-button-back: #df5555;
$red: #f56c6c;
$red-back: #ffebeb;

$blue: #17a2b8;

$pink: #da4d8f;
