$font-stack: Helvetica, sans-serif;

$title-color: #065fed;
$button-color: #547bf1;
$back-color: #368eec;
$button-font-color: #fff;
$word-black-color: #4d4d4d;
$green: #7dc15b;
$green1: #3d801b;
$yellow: #e6a23c;
$purple: #a372df;
$red: #f56c6c;
$grey: #9a9a9a;
$blue: #17a2b8;
